<!DOCTYPE html>

<html style="height:100%;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Report</title>
    @*
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>

    <script src="~/js/devextreme/cldr.js"></script>
    <script src="~/js/devextreme/cldr/event.js"></script>
    <script src="~/js/devextreme/cldr/supplemental.js"></script>
    <script src="~/js/devextreme/cldr/unresolved.js"></script>

    <script src="~/js/devextreme/globalize.js"></script>
    <script src="~/js/devextreme/globalize/message.js"></script>
    <script src="~/js/devextreme/globalize/number.js"></script>
    <script src="~/js/devextreme/globalize/currency.js"></script>
    <script src="~/js/devextreme/globalize/date.js"></script>

    @* JSZip for client side export *@
    @*
    <script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/vectormap-data/world.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            loadReport();
        });

        function login_click() {
            $("#loginLoadPanel").dxLoadPanel("show");
            var payload = {
                username: $('#txtUsername').dxTextBox('instance').option('value'),
                password: $('#txtPassword').dxTextBox('instance').option('value')
            };

            $.ajax({
                url: '@Url.Action("Login", "Report")',
                type: 'POST',
                data: payload,
                success: function (result) {
                    location.href = "@Url.Action("Index", "Home")";
                },
                error: function (xhr) {
                    showPopup("Login", JSON.parse(xhr.responseText).message);
                }
            }).always(function () {
                    $("#loginLoadPanel").dxLoadPanel("hide");
            });
        }

        function loadReport() {
                    $("#summaryLoadPanel").dxLoadPanel("show");
                    $("#tenderLoadPanel").dxLoadPanel("show");
                    $("#auditLoadPanel").dxLoadPanel("show");
            $.getJSON('@Url.Action("Summary", "Report")', function (result) {
                $("#summary").html(result.data);
            })
                .fail(function (err) {
                    $("#summary").html("Not available now ");
                }).always(function ()
                {
                    $("#summaryLoadPanel").dxLoadPanel("hide");
            });

            $.getJSON('@Url.Action("Tender", "Report")', function (result) {
                $("#tender").html(result.data);
            }).fail(function (err)
            {
                    $("#tender").html("Not available now");
            }).always(function ()
            {
                    $("#tenderLoadPanel").dxLoadPanel("hide");
            });

            $.getJSON('@Url.Action("Audit", "Report")', function (result) {
                $("#audit").html(result.data);
            })
                .fail(function (err) {
                    $("#audit").html("Not available now");
                }).always(function ()
                {
                    $("#auditLoadPanel").dxLoadPanel("hide");
            });
        }

        function refresh_click() {
            loadReport();
        }

        function setting_click() {
            location.href = "@Url.Action("Setting", "Home")";
        }

        function back_to_home_click() {
            window.history.back();
        }

        function showPopup(title, message) {
            var popup = $("#global-popup").dxPopup("instance");
            popup.option("title", title);
            popup.option("contentTemplate", "<p>" + message + "</p>");
            popup.show();
        }
    </script>
</head>
<body style="height:100%;">

    @*@(Html.DevExtreme().RangeSelector()
        .ID("range-selector")
        .Margin(m => m.Left(20).Right(20))
        .Scale(s => s
            .StartValue(new DateTime(DateTime.Now.Year, DateTime.Now.Month - 2, 1))
            .EndValue(DateTime.Now)
            .MinorTickInterval(VizTimeInterval.Day)
            .TickInterval(VizTimeInterval.Day)
            .MinRange(VizTimeInterval.Day)
            .MaxRange(VizTimeInterval.Year)
            .MinorTick(m => m.Visible(false))
        )
        .SliderMarker(f => f.Format(Format.MonthAndDay))
        .Value(new[] { new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1), DateTime.Now})
        .Title("Select Period")
        )*@

    @(Html.DevExtreme().Popup()
        .ID("global-popup")
        .Height("auto")
        .ShowTitle(true)
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
    )

    @RenderBody()
</body>
</html>