@page
@model VerticalTec.POS.Report.Dashboard.Pages.LoginModel
<div class="container">
    <div class="d-flex flex-column">
        <div class="card mt-4">
            <b class="card-header">Login</b>
            <div class="card-body">
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">User name</div>
                        <div class="dx-field-value">
                            @Html.DevExtreme().TextBox().ID("txtUsername").StylingMode(EditorStylingMode.Outlined).Placeholder("Username")
                        </div>
                    </div>
                </div>
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">Password</div>
                        <div class="dx-field-value">
                            @Html.DevExtreme().TextBox().ID("txtPassword").StylingMode(EditorStylingMode.Outlined).Placeholder("Password").Mode(TextBoxMode.Password)
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                @Html.DevExtreme().Button().ID("btn-login").Text("Login").Height(48).Width(230).Template(@<text>
                    @(Html.DevExtreme().LoadIndicator().ID("btn-login-indicator")
                 .ElementAttr("class", "btn-indicator").Visible(false))
                    <span class="dx-button-text"><%= text %></span>
                </text>).OnClick("login")
            </div>
        </div>
        <div class="mt-5 text-center">
            Powered by
            <div>
                <img src="~/img/receiptlogo.png" height="50" />
            </div>
            <small>
                VerticalTec Co., Ltd.
            </small>
        </div>
    </div>
</div>

@(Html.DevExtreme().Popup()
        .ID("login-popup")
        .Height("auto")
        .ShowTitle(true)
        .Title("Login")
        .Visible(false)
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
)
<script>
    let validateLogin = "validateLogin";
    $("#txtUsername").dxTextBox().dxValidator({
        validationRules: [{
            type: 'required',
            validateGroup: validateLogin,
            message: 'Please enter your user name'
        }]
    });
    $("#txtPassword").dxTextBox().dxValidator({
        validationRules: [{
            type: 'required',
            validateGroup: validateLogin,
            message: 'Please enter your password'
        }]
    });

    function login(e) {
        let result = e.validationGroup.validate();
        if (result.isValid) {
            $("#btn-login-indicator").dxLoadIndicator("option", "visible", true);
            $("#btn-login").dxButton("option", "disabled", true);
            let payload = {
                "username": $("#txtUsername").dxTextBox('instance').option('value'),
                "password": $("#txtPassword").dxTextBox('instance').option('value')
            };
            let url = '@Url.Content("~/api/authen/login")';
            $.ajax({
                url,
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(payload),
                success: function (data) {
                    var staff = data.data.StaffData;
                    var properties = data.data.Properties;

                    localStorage.setItem('staff', JSON.stringify(staff));
                    localStorage.setItem('properties', JSON.stringify(properties));

                    var url = '@Url.Content("~/SummaryReport")';
                    location.href = url + "?staffId=" + staff.StaffId;
                }
            }).fail(function (err) {
                try {
                    let popup = $("#login-popup").dxPopup("instance");
                    popup.option("contentTemplate", JSON.parse(err.responseText).message);
                    popup.show();
                } catch (e) { }
            }).always(function () {
                $("#btn-login-indicator").dxLoadIndicator("option", "visible", false);
                $("#btn-login").dxButton("option", "disabled", false);
            });
        }
    }
</script>