@page "/clients"
@using VerticalTec.POS.LiveUpdate
@using Microsoft.AspNetCore.SignalR.Client
@using VerticalTec.POS.Database

@inject IDatabase DbContext
@inject LiveUpdateDbContext LiveupdateContext
@inject NavigationManager NavigationManager

<div class="form-row">
    <div class="form-group col-md-6">
        <h3>Connected clients</h3>
    </div>
</div>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid Data="@clients" ShowFilterRow="false" ShowPager="false" @ref="@gridRef">
        <DxDataGridColumn Caption="Online" TextAlignment="@DataGridTextAlign.Center">
            <DisplayTemplate>
                @{
                    var client = (context as VersionInfo);
                    <span style="width:24px;height:24px;border-radius:50%;display:inline-block;" class="@(client.IsOnline ? "bg-success" : "bg-danger")"></span>
                }
            </DisplayTemplate>
        </DxDataGridColumn>
        <DxDataGridColumn Caption="Computer Name">
            <DisplayTemplate>
                @{
                    var client = (context as VersionInfo);
                    <h4>
                        @client.ComputerName
                    </h4>
                    <h6>
                        @client.ShopName
                    </h6>
                }
            </DisplayTemplate>
        </DxDataGridColumn>
        <DxDataGridColumn Field="@nameof(VersionInfo.ProgramVersion)" Caption="Current Version" />
        <DxDataGridColumn Caption="Status message">
            <DisplayTemplate>
                @{
                    var client = (context as VersionInfo);
                    <div style="overflow-wrap:normal; width:200px;font-size:small;">
                        @client.ProcessMessage
                    </div>
                }
            </DisplayTemplate>
        </DxDataGridColumn>
        <DxDataGridColumn TextAlignment="@DataGridTextAlign.Center">
            <DisplayTemplate>
                @{
                    var client = (context as VersionInfo);
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" disabled="@(client.CanExecute == false)" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" @onclick="@(async() => await SendBackupCommand(client))">Backup</a>
                            <a class="dropdown-item" @onclick="@(async() => await SendDownloadFileCommand(client))">Download update file</a>
                        </div>
                    </div>
                }
            </DisplayTemplate>
        </DxDataGridColumn>
    </DxDataGrid>
}

@code{

    DxDataGrid<VersionInfo> gridRef;

    HubConnection connection;

    List<VersionInfo> clients;

    protected override async Task OnInitializedAsync()
    {
        await LoadClient();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var url = NavigationManager.BaseUri + "console";
            connection = new HubConnectionBuilder().WithUrl(url)
                .WithAutomaticReconnect()
                .Build();

            connection.On<VersionInfo>("ClientUpdateInfo", ClientUpdateInfo);
            connection.On<string>("ClientDisconnect", ClientDisconnect);
            connection.On<VersionLiveUpdate>("ClientUpdateVersionState", ClientUpdateVersionState);

            while (true)
            {
                try
                {
                    await connection.StartAsync();
                    await connection.InvokeAsync("GetClientInfo", "");
                    break;
                }
                catch
                {
                    await Task.Delay(TimeSpan.FromSeconds(3));
                }
            }
        }
    }

    async Task LoadClient()
    {
        using (var conn = await DbContext.ConnectAsync())
        {
            clients = await LiveupdateContext.GetVersionInfo(conn);
        }
    }

    public Task ClientDisconnect(string connectionId)
    {
        try
        {
            var client = clients.Where(c => c.ConnectionId == connectionId).FirstOrDefault();
            client.IsOnline = false;
            clients[clients.IndexOf(client)] = client;
            gridRef.Refresh();
        }
        catch { }
        return Task.FromResult(true);
    }

    public async Task GetClientInfo(VersionInfo client)
    {
        await connection.InvokeAsync("GetClientInfo", client.ConnectionId);
    }

    public async Task SendDownloadFileCommand(VersionInfo client)
    {
        using (var conn = await DbContext.ConnectAsync())
        {
            var versionDeploys = await LiveupdateContext.GetVersionDeploy(conn, shopId: client.ShopId);
            var versionDeploy = versionDeploys.Where(v => v.BatchStatus == VersionDeployBatchStatus.Actived).FirstOrDefault();
            if (versionDeploy != null)
            {
                await connection.InvokeAsync("SendDownloadFileCommand", client.ConnectionId, versionDeploy.BatchId);
                client.CanExecute = false;
                await gridRef.Refresh();
            }
        }
    }

    public async Task SendBackupCommand(VersionInfo client)
    {
        using (var conn = await DbContext.ConnectAsync())
        {
            var versionDeploys = await LiveupdateContext.GetVersionDeploy(conn, shopId: client.ShopId);
            var versionDeploy = versionDeploys.Where(v => v.BatchStatus == VersionDeployBatchStatus.Actived).FirstOrDefault();
            if (versionDeploy != null)
            {
                await connection.InvokeAsync("SendBackupCommand", client.ConnectionId, versionDeploy.BatchId);
                client.CanExecute = false;
                await gridRef.Refresh();
            }
        }
    }

    public async Task ClientUpdateInfo(VersionInfo versionInfo)
    {
        try
        {
            var client = clients.Where(c => c.ShopId == versionInfo.ShopId && c.ComputerId == versionInfo.ComputerId).FirstOrDefault();
            clients[clients.IndexOf(client)] = versionInfo;
            await gridRef.Refresh();
        }
        catch
        {
            await LoadClient();
        }
    }

    public async Task ClientUpdateVersionState(VersionLiveUpdate state)
    {
        try
        {
            var client = clients.Where(c => c.ShopId == state.ShopId && c.ComputerId == state.ComputerId).FirstOrDefault();
            client.ProcessMessage = state.MessageLog;
            if (state.CommandStatus == CommandStatus.Finish || state.CommandStatus == CommandStatus.Error)
                client.CanExecute = true;
            clients[clients.IndexOf(client)] = client;
            await gridRef.Refresh();
        }
        catch
        {
            await LoadClient();
        }
    }
}