@page "/versionedit"
@page "/versionedit/{batchId}/{brandId:int}"

@using System.Data
@using System.Collections
@using VerticalTec.POS.LiveUpdate
@using VerticalTec.POS.LiveUpdateConsole.Models
@using VerticalTec.POS.Database
@using VerticalTec.POS.Utils
@using VerticalTec.POS.LiveUpdateConsole.Services
@using CurrieTechnologies.Razor.SweetAlert2
@using System.Text;

@inject IDatabase DbContext
@inject SweetAlertService Swal
@inject LiveUpdateDbContext LiveUpdateContext;
@inject NavigationManager NavigationManager;
@inject RepoService RepoService;

<h3>สร้างเวอร์ชั่น</h3>

@if (_brands.Count == 0)
{
    <p><em>กำลังโหลด...</em></p>
}
else
{
<EditForm Model="@_deployVersion" OnValidSubmit="@(async() => await SaveAsync())">
    <DataAnnotationsValidator />
    <div class="form-group col-md-4">
        <div class="row">
            <div class="col">
                <label>แบรนด์</label>
                <select class="form-control" @onchange="@OnBrandChanged">
                    @foreach (var brand in _brands)
                    {
                        @if (brand.BrandId == @BrandId)
                        {
                            <option selected value="@brand.BrandId">@brand.BrandName</option>
                        }
                        else
                        {
                            <option value="@brand.BrandId">@brand.BrandName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            @if (_shopCats.Count > 0)
            {
                <label>เลือกประเภทร้าน</label>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="chkAllShopCat" @onchange="@OnCheckAllShopCat" />
                            <label for="chkAllShopCat" class="custom-control-label">เลือกทั้งหมด</label>
                        </div>
                    </li>
                </ul>
                <ul class="list-group list-group-flush" style="height:300px; width:500px; overflow:auto;">
                    @foreach (var shopCat in _shopCats)
                    {
                        <li class="list-group-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="@shopCat.ShopCateId" @onchange="(e) => OnShopCatCheck(shopCat, e)" />
                                <label for="@shopCat.ShopCateId" class="custom-control-label">@shopCat.ShopCateName</label>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="col">
            <label>เลือกสาขา</label>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkAllShop" @onchange="@OnCheckAllShop" />
                        <label for="chkAllShop" class="custom-control-label">เลือกทั้งหมด</label>
                    </div>
                </li>
            </ul>
            <ul class="list-group list-group-flush" style="height:300px; width:500px; overflow:auto;">
                @foreach (var shop in _shops)
                {
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@shop.ShopId" @bind="@shop.Selected" />
                            <label for="@shop.ShopId" class="custom-control-label">@shop.ShopCode : @shop.ShopName</label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group col-md-4">
        <label>เลือกประเภทโปรแกรม</label>
        <select class="form-control" @bind="@_deployVersion.ProgramId">
            @foreach (var programType in _deployVersion.ProgramTypes)
            {
                var programId = programType.ProgramTypeId;
                var programName = programType.ProgramName;
                <option value="@programId">@programName</option>
            }
        </select>
    </div>

    <div class="form-group col-md-4">
        <label>เวอร์ชั่น</label>
        <input type="text" class="form-control" @bind="@_deployVersion.ProgramVersion">
    </div>

    <div class="form-group col-md-4">
        <label>อัพโหลดไฟล์ (รองรับเฉพาะ .zip)</label>
        <DxUpload Name="file" na UploadUrl="@GetUploadUrl("api/Resource/UploadPatch")"
                  AllowMultiFileUpload="false"
                  AllowedFileExtensions="@(new List<string> { ".zip" })"
                  ShowFileList="false"
                  FileUploaded="OnFileUploaded">
        </DxUpload>
    </div>

    <div class="form-group col-md-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chkAutoBackup" @bind="@_deployVersion.AutoBackup" />
            <label for="chkAutoBackup" class="custom-control-label">แบ็คอัพอัตโนมัติหลังจากโหลดไฟล์สำเร็จ</label>
        </div>
    </div>

    <div class="form-group col-md-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="chkActivateUpdate" checked="@(_deployVersion.BatchStatus)" />
            <label for="chkActivateUpdate" class="custom-control-label">เปิดการอัพเดต</label>
        </div>
    </div>
    <ValidationSummary />

    <div class="form-row m-4">
        <button type="submit" class="btn btn-primary">ตกลง</button> &nbsp; <button type="button" @onclick="@Cancel" class="btn btn-secondary">ยกเลิก</button>
    </div>
</EditForm>
}

@code {

    [Parameter]
    public string BatchId { get; set; }

    [Parameter]
    public int BrandId { get; set; }

    private DeployVersion _deployVersion = new DeployVersion();

    List<BrandData> _brands = new List<BrandData>();
    List<ShopData> _allShops = new List<ShopData>();
    List<ShopData> _shops = new List<ShopData>();
    List<ShopCategory> _shopCats = new List<ShopCategory>();

    protected override async Task OnInitializedAsync()
    {
        await LoadBrandAsync();
        await LoadShopCategoryAsync();
        await LoadVersionDeploy();

        RefreshShop();
    }

    void OnBrandChanged(ChangeEventArgs e)
    {
        BrandId = Convert.ToInt32(e.Value);
        RefreshShop();
    }

    void RefreshShop()
    {
        if (BrandId > 0)
            _shops = _allShops.Where(s => s.BrandId == BrandId).ToList();
    }

    void OnCheckAllShop(ChangeEventArgs e)
    {
        if (!_shops.Any())
            return;

        SetCheckToShop(_shops, Convert.ToBoolean(e.Value));
    }

    void OnCheckAllShopCat(ChangeEventArgs e)
    {
        foreach (var shopCat in _shopCats)
        {
            shopCat.Selected = Convert.ToBoolean(e.Value);
        }

        RefreshCheckedShop();

        StateHasChanged();
    }

    void OnShopCatCheck(ShopCategory shopCat, ChangeEventArgs e)
    {
        shopCat.Selected = Convert.ToBoolean(e.Value);
        RefreshCheckedShop();
    }

    void RefreshCheckedShop()
    {
        var selectedShopCat = _shopCats.Where(s => s.Selected).Select(s=>s.ShopCateId);
        var shops = _shops.Where(s => selectedShopCat.Contains(s.ShopCatId)).ToList();

        var isNoData = shops.Count == 0;
        SetCheckToShop(isNoData ? _shops : shops, !isNoData);
    }

    void SetCheckToShop(List<ShopData> shops, bool isCheck)
    {
        if (!shops.Any())
            return;

        foreach(var shop in _shops.Where(s => s.Selected).ToList())
        {
            shop.Selected = false;
        }

        foreach (var shop in shops)
        {
            shop.Selected = isCheck;
        }
    }

    void OnFileUploaded(FileUploadEventArgs e)
    {
        _deployVersion.FileUrl = GetUploadUrl($"Patch/{e.FileInfo.Name}");
        this.StateHasChanged();
    }

    string GetUploadUrl(string url)
    {
        return NavigationManager.ToAbsoluteUri(url).AbsoluteUri;
    }

    async Task SaveAsync()
    {
        using (var conn = await DbContext.ConnectAsync())
        {
            System.Data.IDbTransaction sqlTransaction = conn.BeginTransaction();

            var versionDeploy = new VersionDeploy();
            var isUpdate = !string.IsNullOrWhiteSpace(BatchId);
            if (isUpdate)
                versionDeploy.BatchId = BatchId;
            versionDeploy.BrandId = BrandId;
            versionDeploy.BatchStatus = _deployVersion.BatchStatus;
            versionDeploy.ProgramId = _deployVersion.ProgramId;
            versionDeploy.ProgramName = _deployVersion.ProgramName;
            versionDeploy.ProgramVersion = _deployVersion.ProgramVersion;
            versionDeploy.FileUrl = _deployVersion.FileUrl;
            versionDeploy.AutoBackup = _deployVersion.AutoBackup;
            versionDeploy.InsertDate = _deployVersion.InsertDate;
            versionDeploy.UpdateDate = DateTime.Now;

            var opsMsg = isUpdate ? "Update" : "Create";

            try
            {
                var cmd = DbContext.CreateCommand(conn);
                cmd = DbContext.CreateCommand(conn);
                cmd.Transaction = sqlTransaction;

                if (_deployVersion.BatchStatus != (VersionDeployBatchStatus.Done | VersionDeployBatchStatus.Canceled))
                {
                    cmd.CommandText = "update Version_Deploy set BatchStatus=0 where BrandID=@brandId and BatchStatus not in(2,99)";
                    cmd.Parameters.Add(DbContext.CreateParameter("@brandId", BrandId));
                    await DbContext.ExecuteNonQueryAsync(cmd);
                }
                await LiveUpdateContext.AddOrUpdateVersionDeploy(conn, versionDeploy, sqlTransaction);

                cmd.CommandText = "delete from Version_LiveUpdate where BatchID=@batchId";
                cmd.Parameters.Add(DbContext.CreateParameter("@batchId", BatchId));
                await DbContext.ExecuteNonQueryAsync(cmd);

                cmd.Parameters.Clear();
                cmd.CommandText = "select ShopID, ComputerID from computername where ComputerType=0 and Deleted=0";
                var dtComputers = new DataTable();
                using (var reader = await DbContext.ExecuteReaderAsync(cmd))
                {
                    dtComputers.Load(reader);
                }

                var selectedShops = _shops.Where(s => s.Selected).ToList();
                StringBuilder stringBuilder = new StringBuilder("insert into Version_LiveUpdate(BatchID, ShopID, ComputerID, ProgramID, ProgramName, UpdateVersion, InsertDate, UpdateDate) values ");
                List<string> rows = new List<string>();
                foreach (var shop in selectedShops)
                {
                    var computerIds = dtComputers.AsEnumerable().Where(r => r.GetValue<int>("ShopID") == shop.ShopId).Select(c => c.GetValue<int>("ComputerID")).ToList();

                    foreach (var computerId in computerIds)
                    {
                        rows.Add($"('{versionDeploy.BatchId}', {shop.ShopId}, {computerId}, {(int)versionDeploy.ProgramId}, '{versionDeploy.ProgramName}', '{versionDeploy.ProgramVersion}', GETDATE(), GETDATE())");
                    }
                }
                if (rows.Count > 0)
                {
                    stringBuilder.Append(string.Join(",", rows));
                    stringBuilder.Append(";");
                    cmd.CommandText = stringBuilder.ToString();
                    await DbContext.ExecuteNonQueryAsync(cmd);
                }
                sqlTransaction?.Commit();

                await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = $"{opsMsg} version",
                    Text = $"{opsMsg} Update version success"
                });
                NavigationManager.NavigateTo("versions");
            }
            catch (Exception ex)
            {
                sqlTransaction?.Rollback();
                await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = $"{opsMsg} version",
                    Html = $"{opsMsg} version fail <strong>{ex.Message}</strong>"
                });
            }
        }
    }

    //async Task OnDeployCheckAsync()
    //{
    //    var batchStatus = versionDeploy.BatchStatus;
    //    if (batchStatus == VersionDeployBatchStatus.Actived)
    //        batchStatus = VersionDeployBatchStatus.InActivate;
    //    else if (batchStatus == VersionDeployBatchStatus.InActivate)
    //        batchStatus = VersionDeployBatchStatus.Actived;

    //    using (var conn = await DbContext.ConnectAsync())
    //    {
    //        var cmd = DbContext.CreateCommand(conn);
    //        cmd.CommandText = "update Version_Deploy set BatchStatus=0 where BrandID=@brandId and BatchStatus not in(2,99)";
    //        cmd.Parameters.Add(DbContext.CreateParameter("@brandId", selectedBrandId));
    //        await DbContext.ExecuteNonQueryAsync(cmd);

    //        cmd.CommandText = "update Version_Deploy set BatchStatus=@batchStatus where BrandID=@brandId and BatchID=@batchId";
    //        cmd.Parameters.Add(DbContext.CreateParameter("@batchStatus", batchStatus));
    //        cmd.Parameters.Add(DbContext.CreateParameter("@batchId", versionDeploy.BatchId));
    //        await DbContext.ExecuteNonQueryAsync(cmd);

    //        if (batchStatus == VersionDeployBatchStatus.InActivate)
    //        {
    //            cmd.CommandText = "update version_liveupdate set FileReceiveStatus=0, BackupStatus=0, UpdateStatus=0, ReadyToUpdate=0 where batchId=@batchId";
    //            await DbContext.ExecuteNonQueryAsync(cmd);
    //        }
    //    }

    //    await LoadVersionDeployAsync();
    //}


    void Cancel()
    {
        NavigationManager.NavigateTo("versions");
    }

    async Task LoadVersionDeploy()
    {
        if (string.IsNullOrWhiteSpace(BatchId))
            return;

        using (var conn = await DbContext.ConnectAsync())
        {
            var versionDeploys = await LiveUpdateContext.GetVersionDeploy(conn, BatchId);
            var versionDeploy = versionDeploys.FirstOrDefault();

            _deployVersion.BrandId = versionDeploy.BrandId;
            _deployVersion.BatchStatus = versionDeploy.BatchStatus;
            _deployVersion.ProgramId = versionDeploy.ProgramId;
            _deployVersion.ProgramVersion = versionDeploy?.ProgramVersion;
            _deployVersion.FileUrl = versionDeploy?.FileUrl;
            _deployVersion.AutoBackup = versionDeploy.AutoBackup;
            _deployVersion.InsertDate = versionDeploy.InsertDate;
            _deployVersion.UpdateDate = versionDeploy.UpdateDate;
        }
    }

    async Task LoadShopCategoryAsync()
    {
        try
        {
            _shopCats = await RepoService.GetShopCategoryAsync();
        }
        catch { }
    }

    async Task LoadBrandAsync()
    {
        try
        {
            _brands = await RepoService.GetBrandAsync();
            _allShops = await RepoService.GetShopSelectedUpdateAsync(BatchId);
            BrandId = _brands.FirstOrDefault().BrandId;
        }
        catch
        {
        }
    }
}
